<h1>Editar Comentario: </h1>

<%= simple_form_for([@video, @comment]) do |c| %>
	<div class="form-group">
		<%= c.input :author, label: "Autor ", input_html: {class: "form-control"} %>
	</div>
	<div class="form-group">
    	<%= c.input :content, label: "Comentario ", input_html: {class: "form-control"}%>
	</div>
	<%= c.button :submit, class: "btn btn-success", value: "Comentar" %>
	</div>
<% end %>