<div class="video-show">
    <h2><%= @video.title %></h2>

    <div class="embed-responsive embed-responsive-16by9">
        <iframe  src= "<%= url_to_id @video.url %>" ></iframe>
    </div>

    <div class="row">
    <div class="col-md-6">
        <h1>Comentarios: </h1>
        <%= render @video.comments %>
    </div>
    <div class="col-md-6">
        <h4> Deixe seu comentario: </h4>
        <%= render 'comments/form'%>
    </div>
</div>