

<div class="container">
    <div class="row">
        <% @categories.each do |category| %>
            <div class='col-md-4'>
            <h2>
                <%=link_to "#{category.name}", category_path(category)%>
            </h2>
            <% if category.is_favorite?  %>
                <% @videos.each do |video| %>
                    <% if category.id == video.category_id %>
                        <ul>
                            <li><%= link_to "#{video.title}", video_path(video) %></li>
                        </ul>
                    <%end%>
            <%end%>
        <% end %>
        </div>
    <% end %>
    </div>
</div>