<h2><%= @category.name %></h2>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Video</th>
      <th scope="col">Editar</th>
      <th scope="col">Excluir</th>
    </tr>
  </thead>
  <tbody>
    <% @videos.each do |video| %>
        <tr>
            <td><%= link_to "#{video.title}", video_path(video) %></td>
            <td><%= link_to '<i class="fa fa-edit"></i>'.html_safe, edit_category_path(@category) %></td>
            <td><%= link_to '<i class="fa fa-trash"></i>'.html_safe, category_path(@category), method: :delete, data: {confirm: "Você tem certeza?"}%></td>
        </tr>
    <%end%>
  </tbody>
</table>